:root {
  --primary-black: #304ecc;
  --primary-gray: #bfc0c0;
  --primary-white: #ffffff;
  --secondary-black: #000f08;
  --primary-accent: #4f5d75;
  --text-white: #fefefe;
  --footer-height: 60px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: var(--primary-gray);
  font-size: 16px;
  font-family: 'Roboto', Helvetica, sans-serif;
}

body {
  background: #fefefe;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.88rem;
}

input[type='text'] {
  height: 32px;
  width: 100%;
  padding: 0 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--primary-gray);
}

button {
  background-color: var(--primary-gray);
  border: none;
  cursor: pointer;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 1rem;
  height: 32px;
  min-width: 100px;
  padding: 0 8px;
}

button.btn-transparent {
  background-color: transparent;
  transition: box-shadow 150ms ease-out;
}

button.btn-transparent:hover {
  background-color: #fafafa;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

button:hover {
  background-color: #aaa;
}

.combobox {
  display: flex;
}

#app {
  padding-bottom: calc(var(--footer-height) + 2rem);
}

.app-header {
  background-color: var(--primary-black);
  color: var(--text-white);
  height: 50px;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.app-header__content {
  max-width: 820px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.app-header__title {
  font-size: 1.2rem;
}

.app-footer {
  background-color: var(--primary-gray);
  bottom: 0;
  height: var(--footer-height);
  position: absolute;
  width: 100%;
}

.app-main {
  margin-bottom: 120px;
  max-width: 820px;
  margin: 0 auto;
}

.app-snackbar-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  z-index: 9;
}

.app-snackbar {
  background-color: var(--primary-black);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  color: var(--primary-white);
  display: flex;
  min-width: 200px;
  min-height: 3rem;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  transform: translateX(calc(-100% - 1rem));
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.app-snackbar--show {
  opacity: 1;
  transform: translateX(0);
}

.app-snackbar:not(:last-child) {
  margin-bottom: 1rem;
}

.todos {
  background-color: var(--primary-white);
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.todos__title {
  margin-bottom: 1rem;
  text-align: center;
}

.todos__form {
  margin-bottom: 1rem;
}

.todo-item {
  padding: 0.5rem 0;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.todos-leave-active {
  animation: removeTodoAnimation 800ms;
}

.todos-enter {
  opacity: 0;
}

.todos-enter-active {
  animation: addTodoAnimation 400ms;
}

@keyframes addTodoAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes removeTodoAnimation {
  0% {
    opacity: 0.75;
    transform: translateX(0);
  }

  25% {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3);
    opacity: 0.75;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.todo-item:not(:last-child) {
  margin-bottom: 1rem;
}

.todo-item__checkbox {
  margin-right: 0.5rem;
}

.todo-item__actions {
  margin-left: auto;
  flex: 0 0 auto;
}

.line-through {
  text-decoration: line-through;
}
